extend layout2
h1=title

block facets
  script(src='/testIO.js')
  script(src='/socket.io.js')
  h2 Facets
  li #{totalRecords} transactions
  - each facet in facets
    li #{facet[0]} ( #{facet[1]} ) 
    li #{facet[2]} ( #{facet[3]} )
  hr
  form(method="post")
   input(type="submit",name="export",value="export",formaction="/go/file/export")
   input(type="submit",name="exportwithcursorMark",value="export with cursorMark",formaction="/go/file/exportWithCursor")
   input(type="hidden",name="montantMin",id="montantMin",value="#{montantMin}")
   input(type="hidden",name="montantMax",id="montantMax",value="#{montantMax}")
   input(type="hidden", name="dateMin", id="dateMin",value="#{dateMin}")
   input(type="hidden", name="dateMax", id="dateMax",value="#{dateMax}")
   input(type="hidden",name="totalRecords",id="totalRecords",value="#{totalRecords}")

block stats
 h2 Stats 
 table(id="t01")
  th Currency
  th Trx Type
  th App
  th Count
  th Amount
  each pivot in pivots
   each spivot in pivot 
    each sspivot in spivot.pivot 
      each ssspivot in sspivot.pivot
        tr(style="vertical-align: top;")
          td #{spivot.value}
          td #{sspivot.value}
          td #{ssspivot.value}
          td #{ssspivot.count}
          td #{ssspivot.stats.stats_fields[config.amount].sum}

block Transactions
 h2 Transactions
 table(id="t01")
  th Date Ticket
  th Date Serveur
  th Montant
  th Type Application
  th Type de Transaction
  th Devise
  th Level 1
  th Level 2
  th Level 3
    each trx in transactions
     tr(style="vertical-align: top;")
       td #{trx[config.dateTicket]}
       td #{trx[config.dateServer]}
       td #{trx[config.amount]}
       td #{trx[config.appType]}
       td #{trx[config.trxType]}
       td #{trx[config.currency]}
       td #{trx[config.level1]}
       td #{trx[config.level2]}
       td #{trx[config.level3]}

 form(method="post",action="/go/0") 
  input(type="hidden", name="montantMin", id="montantMin",value="#{montantMin}")
  input(type="hidden",name="montantMax",id="montantMax",value="#{montantMax}")
  input(type="hidden", name="dateMin", id="dateMin",value="#{dateMin}")
  input(type="hidden", name="dateMax", id="dateMax",value="#{dateMax}")
  input(type="submit",value="Previous Page",formaction="/go/#{pagePrev}")
  input(type="submit",value="Next Page",formaction="/go/#{pageNext}")
    
