extend layout2
h1=title

block facets
  h2 Facets
  li #{totalRecords} transactions
  - each facet in facets
    li #{facet[0]} ( #{facet[1]} ) 
    li #{facet[2]} ( #{facet[3]} )
  hr
  form(method="post")
   input(type="submit",name="export",value="export",formaction="/go/file/export")
   input(type="hidden",name="montantMin",id="montantMin",value="#{montantMin}")
   input(type="hidden",name="montantMax",id="montantMax",value="#{montantMax}")
   input(type="hidden",name="totalRecords",id="totalRecords",value="#{totalRecords}")

block stats
 h2 Stats 
 table(id="t01")
  th Currency
  th Trx Type
  th App
  th Count
  th Amount
  each pivot,index in pivots
   each spivot,sindex in pivot 
    each sspivot,ssindex in spivot.pivot 
      each ssspivot in sspivot.pivot
        tr(style="vertical-align: top;")
          td #{spivot.value}
          td #{sspivot.value}
          td #{ssspivot.value}
          td #{ssspivot.count}
          td #{ssspivot.stats.stats_fields.Montant.sum} 

block Transactions
 h2 Transactions
 table(id="t01")
  th Date Ticket
  th Date Serveur
  th Montant
  th Type Application
  th Type de Transaction
  th Devise
  th Level 1
  th Level 2
  th Level 3
    each trx in transactions
     tr(style="vertical-align: top;")
       td #{trx.Date_Ticket}
       td #{trx.Date_Serveur}
       td #{trx.Montant}
       td #{trx.Type_d_application}
       td #{trx.Type_de_transaction}
       td #{trx.Monnaie}
       td #{trx.Level_1}
       td #{trx.Level_2}
       td #{trx.Level_3}

 form(method="post",action="/go/0") 
  input(type="hidden", name="montantMin", id="montantMin",value="#{montantMin}")
  input(type="hidden",name="montantMax",id="montantMax",value="#{montantMax}")
  input(type="submit",value="Previous Page",formaction="/go/#{pagePrev}")
  input(type="submit",value="Next Page",formaction="/go/#{pageNext}")

block Right
  p
   